
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 15rem;
}.bubble-head-3r1 {
  height: 15.1rem;
  position: relative;
  width: 100%;

  .ellipse-26-o4V {
    background-color: #b4adf8;
    border-radius: 7.5rem;
    width: 15rem;
    height: 15rem;
    position: absolute;
    left: 0;
    top: 0.1rem;
  }
  .ellipse-27-86m {
    object-fit: contain;
    vertical-align: top;
    width: 15rem;
    height: 15rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .ellipse-28-sa9 {
    top: 1rem;
    background-color: #d9d9d9;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 13rem;
    position: absolute;
    background-image: url('REPLACE_IMAGE:cd02a0d0d7014525fcf54d19e4ea57caf133a333');
    border-radius: 6.5rem;
    height: 13rem;
    left: 1rem;
  }
}
