
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.5rem;
}.search-section-9Kf {
  background-color: #ffffff;
  border-radius: 2.5rem;
  box-sizing: border-box;
  padding: 0.5rem 25.1rem 0.672rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;

  .search-icon-rzm {
    margin-right: 1.1716rem;
    width: 3.8284rem;
    height: 3.8284rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .search-Pzh {
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-top: 0.1716rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #494949;
  }
}
